@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    font-family: "DotGothic16", Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
}

body {
    overflow: hidden;
}

#heartContainer .heart, #controls {
    position: absolute;
    bottom: 5px;
    left: 5px;
    height: 70px;
    width: 70px;
    fill: red;
    stroke-linejoin: round;
    stroke: black;
    stroke-width: 3px;
    z-index: 999;
}

#heartContainer .heart.empty {
    fill: black;
}

#controls {
    bottom: initial;
    top: 5px;
    left: initial;
    right: 5px;
}

#controls div {
    cursor: pointer;
}

#controls div svg {
    stroke: white;
}

#score {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 999;
    width: auto;
}

#score p {
    color: white;
    font-size: 3em;
}

.center-block {
    position: absolute;
    font-weight: bolder;
    color: black;
    margin: auto;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-height: 100%;
}

.center-block p, .center-block button {
    font-size: 2rem !important;
    padding: 5px 20px;
}

.center-block h1, .center-block h2, #level.center-block p, #over p, #win p, #enGamePannel p {
    color: white;
}

#over p:first-of-type, #win p:first-of-type {
    font-size: 10rem !important;
}

button {
    border: 2px solid black;
    background: white;
    border-radius: 9px;
    color: inherit;
    font: inherit;
    outline: inherit;
    cursor: pointer;
}

.container {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: url('../medias/images/background.jpg');
    background-size: cover;
    background-position: center center;
    /*background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);*/
    background-color: black;
    overflow-y: auto;
}

#loader h1 {
    font-size: 4em !important;
}

#loader h1 span {
    position: relative;
    display: inline-block;
    animation: pointAnimation .6s ease infinite alternate;
}

#loader h1 span:nth-child(1) {
    animation-delay: .2s;
}

#loader h1 span:nth-child(2) {
    animation-delay: .4s;
}

#loader h1 span:nth-child(3) {
    animation-delay: .6s;
}

@keyframes pointAnimation {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-1rem);
    }
}

#recapPoints {
    margin-top: 5%;
}

#recapPoints table{
    display: inline-table;
    border-collapse: collapse;
    margin: 2%;
    min-width: 25%;
    background: white;
    border-radius: 9px;
    overflow: hidden;
}

#recapPoints table, #recapPoints th, #recapPoints td {
    border: 1px solid black;
}

tbody, thead {
    border-radius: 9px !important;
}

#recapPoints th, #recapPoints td {
    height: 50px;
}

#recapPoints img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 10px;
}

#startGame {
    margin-top: 5%;
}

#shortcuts {
    position: absolute;
    top: 20px;
    right: 30px;
    border-radius: 1em;
    background-color: white;
    color: black;
    padding: 10px;
}

#shortcuts p {
    font-family: Arial, Helvetica, sans-serif !important;
}

#gameInfo {
    position: absolute;
    top: 5px;
    left: 10px;
    border-radius: 1em;
    background-color: darkblue;
    color: white;
    padding: 10px;
}